* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

#stage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url('./Resource/Image/Background.png')
}

.movie {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.scene {
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}